@font-face {
  font-family: "Go Medium";
  src: url("//db.onlinewebfonts.com/t/047f4505be97c463bc637f1767d274d6.eot");
  src: url("//db.onlinewebfonts.com/t/047f4505be97c463bc637f1767d274d6.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/047f4505be97c463bc637f1767d274d6.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/047f4505be97c463bc637f1767d274d6.woff") format("woff"), url("//db.onlinewebfonts.com/t/047f4505be97c463bc637f1767d274d6.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/047f4505be97c463bc637f1767d274d6.svg#Go Medium") format("svg");
}
@font-face {
  font-family: "GeForce-Regular";
  src: url("//db.onlinewebfonts.com/t/7c842801a63c2d8d75278221b6723214.eot");
  src: url("//db.onlinewebfonts.com/t/7c842801a63c2d8d75278221b6723214.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/7c842801a63c2d8d75278221b6723214.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/7c842801a63c2d8d75278221b6723214.woff") format("woff"), url("//db.onlinewebfonts.com/t/7c842801a63c2d8d75278221b6723214.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/7c842801a63c2d8d75278221b6723214.svg#GeForce") format("svg");
}
@font-face {
  font-family: "GeForce-Bold";
  src: url("//db.onlinewebfonts.com/t/cf67b63a12a22d6fe21be02b8dfdf060.eot");
  src: url("//db.onlinewebfonts.com/t/cf67b63a12a22d6fe21be02b8dfdf060.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/cf67b63a12a22d6fe21be02b8dfdf060.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/cf67b63a12a22d6fe21be02b8dfdf060.woff") format("woff"), url("//db.onlinewebfonts.com/t/cf67b63a12a22d6fe21be02b8dfdf060.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/cf67b63a12a22d6fe21be02b8dfdf060.svg#GeForce") format("svg");
}
@font-face {
  font-family: "DINPro-Light";
  src: url("//db.onlinewebfonts.com/t/e0be9bd5e372b2c379893b776e7b2b96.eot");
  src: url("//db.onlinewebfonts.com/t/e0be9bd5e372b2c379893b776e7b2b96.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/e0be9bd5e372b2c379893b776e7b2b96.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/e0be9bd5e372b2c379893b776e7b2b96.woff") format("woff"), url("//db.onlinewebfonts.com/t/e0be9bd5e372b2c379893b776e7b2b96.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/e0be9bd5e372b2c379893b776e7b2b96.svg#DINPro-Light") format("svg");
}
header .navbar {
  height: 44px;
}
header .navbar .container .navbar-brand img {
  width: 140px;
}
header .navbar .container .offcanvas .offcanvas-body .navbar-nav .nav-item a {
  font-size: 16px;
  font-family: "Go Medium";
  font-weight: normal;
}
header .navbar .container .offcanvas .offcanvas-body .navbar-adicional .nav-item a {
  font-size: 12px;
  font-family: "Go Medium";
}
header .navbar-dos {
  height: 70px;
  background-color: #1a1a1a;
  opacity: 0.9;
  overflow: hidden;
}
header .navbar-dos .container .offcanvas .offcanvas-body .navbar-nav .nav-item a {
  font-size: 16px;
  font-family: "DINPro-Light";
  font-weight: 600;
  color: #eee;
}
header .navbar-dos .container .offcanvas .offcanvas-body .navbar-adicional .nav-item {
  padding-left: 10px;
}
header .navbar-dos .container .offcanvas .offcanvas-body .navbar-adicional .nav-item a {
  font-size: 14px;
  font-family: "DINPro-Light";
  font-weight: normal;
  line-height: 1.5;
  text-transform: uppercase;
}
header .navbar-dos .container .offcanvas .offcanvas-body .navbar-adicional .nav-item button {
  font-weight: bold;
  text-transform: uppercase;
  font-family: "DINPro-Light";
  background-color: #76b900;
  border-color: #76b900;
  border-radius: 0;
  display: flex;
  justify-content: flex-start;
  font-size: 14px;
}
header .navbar-dos .container .offcanvas .offcanvas-body .navbar-adicional .nav-item button:hover {
  background-color: #86d103;
}

main {
  background-color: #eee;
}
main .carousel-inicio .carousel .carousel-inner .carousel-imagen-1 {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 46% 0px;
}
main .carousel-inicio .carousel .carousel-inner .carousel-imagen-1 .carousel-caption {
  width: 550px;
}
main .carousel-inicio .carousel .carousel-inner .carousel-imagen-1 .carousel-caption h1 {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 60px;
  line-height: 1em;
  font-family: "GeForce-Bold";
  color: #76b900;
  text-align: left;
  align-items: center;
  word-wrap: break-word;
  margin-left: -100px;
}
main .carousel-inicio .carousel .carousel-inner .carousel-imagen-1 .carousel-caption h2 {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 36px;
  line-height: 1em;
  font-family: "GeForce-Bold";
  color: #fff;
  text-align: left;
  word-wrap: break-word;
  margin-left: -100px;
}
main .carousel-inicio .carousel .carousel-inner .carousel-imagen-1 .carousel-caption p {
  padding: 10px 0;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  font-family: "DINPro-Light";
  color: #fff;
  text-align: left;
  word-wrap: break-word;
  margin-left: -100px;
}
main .carousel-inicio .carousel .carousel-inner .carousel-imagen-1 .carousel-caption button {
  font-weight: bold;
  text-transform: uppercase;
  font-family: "DINPro-Light";
  background-color: #76b900;
  border-color: #76b900;
  border-radius: 0;
  display: flex;
  justify-content: flex-start;
  margin-left: -100px;
  margin-bottom: 80px;
}
main .carousel-inicio .carousel .carousel-inner .carousel-imagen-1 .carousel-caption button:hover {
  background-color: #86d103;
}
main .carousel-inicio .carousel .carousel-inner .carousel-imagen-1 .carousel-caption img {
  width: 200px;
  display: flex;
  padding-bottom: 20px;
  margin-left: -100px;
}
main .carousel-inicio .carousel .carousel-inner .carousel-imagen-2 {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 35% 0px;
}
main .carousel-inicio .carousel .carousel-inner .carousel-imagen-2 .carousel-caption {
  width: 560px;
}
main .carousel-inicio .carousel .carousel-inner .carousel-imagen-2 .carousel-caption h1 {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 56px;
  line-height: 1em;
  font-family: "GeForce-Bold";
  color: #76b900;
  text-align: left;
  align-items: center;
  word-wrap: break-word;
  margin-left: -100px;
}
main .carousel-inicio .carousel .carousel-inner .carousel-imagen-2 .carousel-caption h2 {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 32px;
  line-height: 1em;
  font-family: "GeForce-Bold";
  color: #fff;
  text-align: left;
  word-wrap: break-word;
  margin-left: -100px;
}
main .carousel-inicio .carousel .carousel-inner .carousel-imagen-2 .carousel-caption p {
  padding: 10px 0;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  font-family: "DINPro-Light";
  color: #fff;
  text-align: left;
  word-wrap: break-word;
  margin-left: -100px;
}
main .carousel-inicio .carousel .carousel-inner .carousel-imagen-2 .carousel-caption button {
  font-weight: bold;
  text-transform: uppercase;
  font-family: "DINPro-Light";
  background-color: #76b900;
  border-color: #76b900;
  border-radius: 0;
  display: flex;
  justify-content: flex-start;
  margin-left: -100px;
  margin-bottom: 120px;
}
main .carousel-inicio .carousel .carousel-inner .carousel-imagen-2 .carousel-caption button:hover {
  background-color: #86d103;
}
main .carousel-inicio .carousel .carousel-inner .carousel-imagen-3 {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 35% 0px;
}
main .carousel-inicio .carousel .carousel-inner .carousel-imagen-3 .carousel-caption {
  width: 550px;
}
main .carousel-inicio .carousel .carousel-inner .carousel-imagen-3 .carousel-caption h1 {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 60px;
  line-height: 1em;
  font-family: "GeForce-Bold";
  color: #76b900;
  text-align: left;
  align-items: center;
  word-wrap: break-word;
  margin-left: -100px;
}
main .carousel-inicio .carousel .carousel-inner .carousel-imagen-3 .carousel-caption p {
  padding: 10px 0;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  font-family: "DINPro-Light";
  color: #fff;
  text-align: left;
  word-wrap: break-word;
  margin-left: -100px;
}
main .carousel-inicio .carousel .carousel-inner .carousel-imagen-3 .carousel-caption button {
  font-weight: bold;
  text-transform: uppercase;
  font-family: "DINPro-Light";
  background-color: #76b900;
  border-color: #76b900;
  border-radius: 0;
  display: flex;
  justify-content: flex-start;
  margin-left: -100px;
  margin-bottom: 35px;
}
main .carousel-inicio .carousel .carousel-inner .carousel-imagen-3 .carousel-caption button:hover {
  background-color: #86d103;
}
main .carousel-inicio .carousel .carousel-inner .carousel-imagen-3 .carousel-caption img {
  width: 200px;
  display: flex;
  padding-bottom: 20px;
  margin-left: -100px;
}
main .cards-info .gaming h1 {
  color: #76b900;
  font-family: "GeForce-Regular";
  padding-bottom: 10px;
}
main .cards-info .gaming .card-group .card {
  border: none;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.19), 0 2px 6px 0 rgba(0, 0, 0, 0.19);
}
main .cards-info .gaming .card-group .card a {
  text-decoration: none;
}
main .cards-info .gaming .card-group .card a img {
  height: 166px;
  width: 293px;
}
main .cards-info .gaming .card-group .card a .card-body .card-title {
  font-weight: bold;
  color: #76b900;
  font-family: "DINPro-Light";
  font-size: 18px;
}
main .cards-info .gaming .card-group .card a .card-body .card-text {
  font-size: 14px;
  color: #000;
  font-family: "DINPro-Light";
}
main .cards-info .gaming .card-group .card:hover {
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.19), 0 2px 6px 0 rgba(0, 0, 0, 0.19);
}
main .foto-principal {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 46% 0px;
}
main .foto-principal .card .card-img-overlay {
  width: 680px;
}
main .foto-principal .card .card-img-overlay h1 {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 60px;
  line-height: 1em;
  font-family: "GeForce-Bold";
  color: #76b900;
  text-align: left;
  align-items: center;
  word-wrap: break-word;
  padding-top: 80px;
}
main .foto-principal .card .card-img-overlay h2 {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 36px;
  line-height: 1em;
  font-family: "GeForce-Bold";
  color: #fff;
  text-align: left;
  word-wrap: break-word;
}
main .foto-principal .card .card-img-overlay p {
  padding: 10px 0;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  font-family: "DINPro-Light";
  color: #fff;
  text-align: left;
  word-wrap: break-word;
}
main .video-caracteristicas .card {
  height: 460px;
  border: none;
}
main .video-caracteristicas .card video {
  z-index: 0;
  border: none;
  height: 100%;
}
main .video-caracteristicas .card .card-img-overlay h1 {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 48px;
  line-height: 1em;
  font-family: "GeForce-Bold";
  color: #fff;
  text-align: left;
  align-items: center;
  word-wrap: break-word;
}
main .caracteristicas-1 {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
main .caracteristicas-1 .card .card-img-overlay h1 {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 48px;
  line-height: 1em;
  font-family: "GeForce-Bold";
  color: #fff;
  word-wrap: break-word;
  padding-top: 30px;
}
main .caracteristicas-1 .card .card-img-overlay h2 {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 36px;
  line-height: 1em;
  font-family: "GeForce-Bold";
  color: #76b900;
  align-items: center;
  word-wrap: break-word;
}
main .caracteristicas-1 .card .card-img-overlay p {
  padding-top: 15px;
  padding-bottom: 20px;
  width: 70%;
  margin: 0 auto;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  font-family: "DINPro-Light";
  color: #fff;
  align-items: center;
  word-wrap: break-word;
}
main .caracteristicas-1 .card .card-img-overlay p span {
  color: #76b900;
}
main .caracteristicas-1 .card .card-img-overlay a {
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 24px;
  font-family: "DINPro-Light";
  color: #76b900;
  align-items: center;
  word-wrap: break-word;
}
main .caracteristicas-2 {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
main .caracteristicas-2 .card .card-img-overlay h1 {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 48px;
  line-height: 1em;
  font-family: "GeForce-Bold";
  color: #fff;
  word-wrap: break-word;
  padding-top: 30px;
}
main .caracteristicas-2 .card .card-img-overlay h2 {
  padding-top: 5px;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 24px;
  line-height: 1em;
  font-family: "GeForce-Bold";
  color: #fff;
  align-items: center;
  word-wrap: break-word;
}
main .caracteristicas-2 .card .card-img-overlay p {
  padding-top: 15px;
  padding-bottom: 20px;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  font-family: "DINPro-Light";
  color: #fff;
  align-items: center;
  word-wrap: break-word;
}
main .caracteristicas-2 .card .card-img-overlay a {
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 24px;
  font-family: "DINPro-Light";
  color: #76b900;
  align-items: center;
  word-wrap: break-word;
}
main .caracteristicas-2 .card .card-img-overlay button {
  font-weight: bold;
  text-transform: uppercase;
  font-family: "DINPro-Light";
  background-color: #76b900;
  border-color: #76b900;
  border-radius: 0;
  padding: 14px;
  font-size: 18px;
}
main .caracteristicas-2 .card .card-img-overlay button:hover {
  background-color: #86d103;
}
main .caracteristicas-3 {
  background-color: #000;
  padding: 50px;
}
main .caracteristicas-3 h1 {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 48px;
  line-height: 1em;
  font-family: "GeForce-Bold";
  color: #fff;
  word-wrap: break-word;
}
main .caracteristicas-3 .table-responsive {
  padding: 40px;
}
main .caracteristicas-3 .table-responsive table thead tr th {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 1em;
  font-family: "GeForce-Bold";
  color: #76b900;
  text-align: center;
  word-wrap: break-word;
  box-sizing: border-box;
  padding-bottom: 15px;
}
main .caracteristicas-3 .table-responsive table tbody tr th {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.25em;
  font-family: "DINPro-Light";
  color: #fff;
  word-wrap: break-word;
  box-sizing: border-box;
  padding: 30px 0px;
  min-width: 158px;
  text-align: left;
}
main .caracteristicas-3 .table-responsive table tbody tr td {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.25em;
  font-family: "DINPro-Light";
  color: #fff;
  text-align: center;
  word-wrap: break-word;
  box-sizing: border-box;
  vertical-align: middle;
  min-width: 158px;
}
main .caracteristicas-3 button {
  font-weight: bold;
  text-transform: uppercase;
  font-family: "DINPro-Light";
  background-color: #76b900;
  border-color: #76b900;
  border-radius: 0;
  padding: 14px;
  font-size: 18px;
}
main .caracteristicas-3 button:hover {
  background-color: #86d103;
}
main .caracteristicas-4 {
  background-color: #1a1a1a;
}
main .caracteristicas-4 .gaming h1 {
  color: #fff;
  font-family: "GeForce-Bold";
  padding-bottom: 10px;
  text-transform: uppercase;
  font-size: 48px;
  line-height: 1em;
}
main .caracteristicas-4 .gaming .card-group .card {
  border: none;
  background-color: #000;
}
main .caracteristicas-4 .gaming .card-group .card .card-body .card-title {
  font-weight: bold;
  color: #76b900;
  font-family: "GeForce-Bold";
  font-size: 24px;
  line-height: 1em;
  text-transform: uppercase;
}
main .caracteristicas-4 .gaming .card-group .card .card-body .card-text {
  font-size: 16px;
  color: #fff;
  padding: 10px 0;
  line-height: 24px;
  font-family: "DINPro-Light";
}
main .caracteristicas-4 .gaming .card-group .card .card-footer a {
  font-weight: 700;
  color: #76b900;
  font-family: "DINPro-Light";
  text-transform: uppercase;
}
main .caracteristicas-5 {
  background-color: #1a1a1a;
}
main .caracteristicas-5 .gaming h1 {
  color: #76b900;
  font-family: "GeForce-Bold";
  padding-bottom: 10px;
  text-transform: uppercase;
  font-size: 48px;
  line-height: 1em;
}
main .caracteristicas-5 .gaming .card-group .card {
  border: none;
  background-color: #eee;
  box-shadow: 0 0 20px 3px rgba(117, 185, 0, 0.7607843137);
}
main .caracteristicas-5 .gaming .card-group .card .card-body a .card-title {
  color: #333333;
  font-family: "GeForce-Regular";
  font-size: 16px;
  line-height: 1em;
  text-transform: normal;
  font-weight: bold;
}
main .caracteristicas-5 .gaming .card-group .card .card-body a .card-title:hover {
  color: #76b900;
}
main .caracteristicas-5 .gaming .card-group .card .card-body .text-muted {
  color: #4d4d4d;
  font-family: "GeForce-Regular";
  font-size: 14px;
  line-height: 1em;
  text-transform: normal;
}
main .caracteristicas-5 .gaming .card-group .card .card-body h6 {
  font-family: "GeForce-Regular";
  font-size: 16px;
  line-height: 1em;
  text-transform: normal;
}
main .caracteristicas-5 .gaming .card-group .card .card-body h6 s {
  color: red;
}
main .caracteristicas-5 .gaming .card-group .card .card-body p {
  font-size: 16px;
  padding: 10px 0;
  line-height: 24px;
  font-family: "DINPro-Light";
}
main .caracteristicas-5 .gaming .card-group .card .card-body button {
  font-weight: bold;
  text-transform: uppercase;
  font-family: "DINPro-Light";
  background-color: #76b900;
  border-color: #76b900;
  border-radius: 0;
  padding: 10px;
  font-size: 16px;
}
main .caracteristicas-5 .gaming .card-group .card .card-body button:hover {
  background-color: #86d103;
}
main .caracteristicas-5 .gaming .card-group .card .card-body:hover {
  box-shadow: 0 0 25px 0 rgba(207, 204, 32, 0.7607843137);
}

footer {
  background-color: #000;
}
footer .footer-arriba .infCorporativa {
  width: 33%;
  padding-right: 20px;
  padding-top: 50px;
}
footer .footer-arriba .infCorporativa h2 {
  color: #eee;
  padding-bottom: 12px;
  font-size: 24px;
  line-height: 26px;
  font-weight: bold;
  font-family: "DINPro-Light";
  text-transform: none;
  border-bottom: 1px solid #747474;
}
footer .footer-arriba .infCorporativa .page-footer li {
  list-style: none;
}
footer .footer-arriba .infCorporativa .page-footer li a {
  text-decoration: none;
  font-size: 16px;
  line-height: 30px;
  color: #76b900;
  font-family: "DINPro-Light";
  font-weight: normal;
  margin-left: -30px;
}
footer .footer-abajo {
  padding-top: 30px;
  padding-bottom: 50px;
}
footer .footer-abajo .footerIzquierda .izquierdaf {
  padding-right: 20px;
}
footer .footer-abajo .footerIzquierda .izquierdaf i {
  color: #76b900;
}
footer .footer-abajo .footerIzquierda .izquierdaf span {
  font-size: 24px;
  line-height: 1;
  color: white;
  font-family: "DINPro-Light";
}
footer .footer-abajo .footerIzquierda .izquierdaf button {
  font-weight: bold;
  text-transform: uppercase;
  font-family: "DINPro-Light";
  background-color: #76b900;
  border-color: #76b900;
  border-radius: 0;
  padding: 14px;
  font-size: 18px;
  line-height: 1;
}
footer .footer-abajo .footerIzquierda .izquierdaf button:hover {
  background-color: #86d103;
}
footer .footer-abajo .footerDerecha .derechaf {
  padding-left: 20px;
}
footer .footer-abajo .footerDerecha .derechaf h6 {
  font-size: 16px;
  color: #747474;
  font-size: "DINPro-Light";
}

/*# sourceMappingURL=main.css.map */
