@font-face {
  font-family: "Go Medium";
  src: url("//db.onlinewebfonts.com/t/047f4505be97c463bc637f1767d274d6.eot");
  src: url("//db.onlinewebfonts.com/t/047f4505be97c463bc637f1767d274d6.eot?#iefix")
      format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/047f4505be97c463bc637f1767d274d6.woff2")
      format("woff2"),
    url("//db.onlinewebfonts.com/t/047f4505be97c463bc637f1767d274d6.woff")
      format("woff"),
    url("//db.onlinewebfonts.com/t/047f4505be97c463bc637f1767d274d6.ttf")
      format("truetype"),
    url("//db.onlinewebfonts.com/t/047f4505be97c463bc637f1767d274d6.svg#Go Medium")
      format("svg");
}

@font-face {
  font-family: "GeForce-Regular";
  src: url("//db.onlinewebfonts.com/t/7c842801a63c2d8d75278221b6723214.eot");
  src: url("//db.onlinewebfonts.com/t/7c842801a63c2d8d75278221b6723214.eot?#iefix")
      format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/7c842801a63c2d8d75278221b6723214.woff2")
      format("woff2"),
    url("//db.onlinewebfonts.com/t/7c842801a63c2d8d75278221b6723214.woff")
      format("woff"),
    url("//db.onlinewebfonts.com/t/7c842801a63c2d8d75278221b6723214.ttf")
      format("truetype"),
    url("//db.onlinewebfonts.com/t/7c842801a63c2d8d75278221b6723214.svg#GeForce")
      format("svg");
}

@font-face {
  font-family: "GeForce-Bold";
  src: url("//db.onlinewebfonts.com/t/cf67b63a12a22d6fe21be02b8dfdf060.eot");
  src: url("//db.onlinewebfonts.com/t/cf67b63a12a22d6fe21be02b8dfdf060.eot?#iefix")
      format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/cf67b63a12a22d6fe21be02b8dfdf060.woff2")
      format("woff2"),
    url("//db.onlinewebfonts.com/t/cf67b63a12a22d6fe21be02b8dfdf060.woff")
      format("woff"),
    url("//db.onlinewebfonts.com/t/cf67b63a12a22d6fe21be02b8dfdf060.ttf")
      format("truetype"),
    url("//db.onlinewebfonts.com/t/cf67b63a12a22d6fe21be02b8dfdf060.svg#GeForce")
      format("svg");
}

@font-face {
  font-family: "DINPro-Light";
  src: url("//db.onlinewebfonts.com/t/e0be9bd5e372b2c379893b776e7b2b96.eot");
  src: url("//db.onlinewebfonts.com/t/e0be9bd5e372b2c379893b776e7b2b96.eot?#iefix")
      format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/e0be9bd5e372b2c379893b776e7b2b96.woff2")
      format("woff2"),
    url("//db.onlinewebfonts.com/t/e0be9bd5e372b2c379893b776e7b2b96.woff")
      format("woff"),
    url("//db.onlinewebfonts.com/t/e0be9bd5e372b2c379893b776e7b2b96.ttf")
      format("truetype"),
    url("//db.onlinewebfonts.com/t/e0be9bd5e372b2c379893b776e7b2b96.svg#DINPro-Light")
      format("svg");
}

header {
  .navbar {
    height: 44px;

    .container {
      .navbar-brand {
        img {
          width: 140px;
        }
      }

      .offcanvas {
        .offcanvas-body {
          .navbar-nav {
            .nav-item {
              a {
                font-size: 16px;
                font-family: "Go Medium";
                font-weight: normal;
              }
            }
          }
          .navbar-adicional {
            .nav-item {
              a {
                font-size: 12px;
                font-family: "Go Medium";
              }
            }
          }
        }
      }
    }
  }

  .navbar-dos {
    height: 70px;
    background-color: #1a1a1a;
    opacity: 0.9;
    // padding-top: 0;
    // position: fixed;
    overflow: hidden;

    .container {
      .offcanvas {
        .offcanvas-body {
          .navbar-nav {
            .nav-item {
              a {
                font-size: 16px;
                font-family: "DINPro-Light";
                font-weight: 600;
                color: #eee;
              }
            }
          }
          .navbar-adicional {
            .nav-item {
              padding-left: 10px;
              a {
                font-size: 14px;
                font-family: "DINPro-Light";
                font-weight: normal;
                line-height: 1.5;
                text-transform: uppercase;
              }
              button {
                font-weight: bold;
                text-transform: uppercase;
                font-family: "DINPro-Light";
                background-color: #76b900;
                border-color: #76b900;
                border-radius: 0;
                display: flex;
                justify-content: flex-start;
                font-size: 14px;

                &:hover {
                  background-color: #86d103;
                }
              }
            }
          }
        }
      }
    }
  }
}

main {
  background-color: #eee;

  // *** INDEX ***
  .carousel-inicio {
    .carousel {
      .carousel-inner {
        .carousel-imagen-1 {
          background-size: cover;
          background-repeat: no-repeat;
          background-position: 46% 0px;

          .carousel-caption {
            width: 550px;
            h1 {
              font-weight: bold;
              text-transform: uppercase;
              font-size: 60px;
              line-height: 1em;
              font-family: "GeForce-Bold";
              color: #76b900;
              text-align: left;
              align-items: center;
              word-wrap: break-word;
              margin-left: -100px;
            }
            h2 {
              font-weight: bold;
              text-transform: uppercase;
              font-size: 36px;
              line-height: 1em;
              font-family: "GeForce-Bold";
              color: #fff;
              text-align: left;
              word-wrap: break-word;
              margin-left: -100px;
            }
            p {
              padding: 10px 0;
              font-weight: normal;
              font-size: 16px;
              line-height: 24px;
              font-family: "DINPro-Light";
              color: #fff;
              text-align: left;
              word-wrap: break-word;
              margin-left: -100px;
            }
            button {
              font-weight: bold;
              text-transform: uppercase;
              font-family: "DINPro-Light";
              background-color: #76b900;
              border-color: #76b900;
              border-radius: 0;
              display: flex;
              justify-content: flex-start;
              margin-left: -100px;
              margin-bottom: 80px;

              &:hover {
                background-color: #86d103;
              }
            }
            img {
              width: 200px;
              display: flex;
              padding-bottom: 20px;
              margin-left: -100px;
            }
          }
        }
        .carousel-imagen-2 {
          background-size: cover;
          background-repeat: no-repeat;
          background-position: 35% 0px;

          .carousel-caption {
            width: 560px;
            h1 {
              font-weight: bold;
              text-transform: uppercase;
              font-size: 56px;
              line-height: 1em;
              font-family: "GeForce-Bold";
              color: #76b900;
              text-align: left;
              align-items: center;
              word-wrap: break-word;
              margin-left: -100px;
            }
            h2 {
              font-weight: bold;
              text-transform: uppercase;
              font-size: 32px;
              line-height: 1em;
              font-family: "GeForce-Bold";
              color: #fff;
              text-align: left;
              word-wrap: break-word;
              margin-left: -100px;
            }
            p {
              padding: 10px 0;
              font-weight: normal;
              font-size: 16px;
              line-height: 24px;
              font-family: "DINPro-Light";
              color: #fff;
              text-align: left;
              word-wrap: break-word;
              margin-left: -100px;
            }
            button {
              font-weight: bold;
              text-transform: uppercase;
              font-family: "DINPro-Light";
              background-color: #76b900;
              border-color: #76b900;
              border-radius: 0;
              display: flex;
              justify-content: flex-start;
              margin-left: -100px;
              margin-bottom: 120px;

              &:hover {
                background-color: #86d103;
              }
            }
          }
        }
        .carousel-imagen-3 {
          background-size: cover;
          background-repeat: no-repeat;
          background-position: 35% 0px;

          .carousel-caption {
            width: 550px;
            h1 {
              font-weight: bold;
              text-transform: uppercase;
              font-size: 60px;
              line-height: 1em;
              font-family: "GeForce-Bold";
              color: #76b900;
              text-align: left;
              align-items: center;
              word-wrap: break-word;
              margin-left: -100px;
            }
            p {
              padding: 10px 0;
              font-weight: normal;
              font-size: 16px;
              line-height: 24px;
              font-family: "DINPro-Light";
              color: #fff;
              text-align: left;
              word-wrap: break-word;
              margin-left: -100px;
            }
            button {
              font-weight: bold;
              text-transform: uppercase;
              font-family: "DINPro-Light";
              background-color: #76b900;
              border-color: #76b900;
              border-radius: 0;
              display: flex;
              justify-content: flex-start;
              margin-left: -100px;
              margin-bottom: 35px;

              &:hover {
                background-color: #86d103;
              }
            }
            img {
              width: 200px;
              display: flex;
              padding-bottom: 20px;
              margin-left: -100px;
            }
          }
        }
      }
    }
  }

  .cards-info {
    .gaming {
      h1 {
        color: #76b900;
        font-family: "GeForce-Regular";
        padding-bottom: 10px;
      }
      .card-group {
        .card {
          border: none;
          box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.19),
            0 2px 6px 0 rgba(0, 0, 0, 0.19);
          a {
            text-decoration: none;

            img {
              height: 166px;
              width: 293px;
            }
            .card-body {
              .card-title {
                font-weight: bold;
                color: #76b900;
                font-family: "DINPro-Light";
                font-size: 18px;
              }
              .card-text {
                font-size: 14px;
                color: #000;
                font-family: "DINPro-Light";
              }
            }
          }

          &:hover {
            transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
            box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.19),
              0 2px 6px 0 rgba(0, 0, 0, 0.19);
          }
        }
      }
    }
  }

  // *** LAPTOPS ***

  .foto-principal {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 46% 0px;

    .card {
      .card-img-overlay {
        width: 680px;
        h1 {
          font-weight: bold;
          text-transform: uppercase;
          font-size: 60px;
          line-height: 1em;
          font-family: "GeForce-Bold";
          color: #76b900;
          text-align: left;
          align-items: center;
          word-wrap: break-word;
          padding-top: 80px;
        }
        h2 {
          font-weight: bold;
          text-transform: uppercase;
          font-size: 36px;
          line-height: 1em;
          font-family: "GeForce-Bold";
          color: #fff;
          text-align: left;
          word-wrap: break-word;
        }
        p {
          padding: 10px 0;
          font-weight: normal;
          font-size: 16px;
          line-height: 24px;
          font-family: "DINPro-Light";
          color: #fff;
          text-align: left;
          word-wrap: break-word;
        }
      }
    }
  }

  .video-caracteristicas {
    .card {
      height: 460px;
      border: none;
      video {
        z-index: 0;
        border: none;
        height: 100%;
      }
      .card-img-overlay {
        h1 {
          font-weight: bold;
          text-transform: uppercase;
          font-size: 48px;
          line-height: 1em;
          font-family: "GeForce-Bold";
          color: #fff;
          text-align: left;
          align-items: center;
          word-wrap: break-word;
        }
      }
    }
  }

  .caracteristicas-1 {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    .card {
      .card-img-overlay {
        h1 {
          font-weight: bold;
          text-transform: uppercase;
          font-size: 48px;
          line-height: 1em;
          font-family: "GeForce-Bold";
          color: #fff;
          word-wrap: break-word;
          padding-top: 30px;
        }
        h2 {
          font-weight: bold;
          text-transform: uppercase;
          font-size: 36px;
          line-height: 1em;
          font-family: "GeForce-Bold";
          color: #76b900;
          align-items: center;
          word-wrap: break-word;
        }
        p {
          padding-top: 15px;
          padding-bottom: 20px;
          width: 70%;
          margin: 0 auto;
          font-weight: normal;
          font-size: 16px;
          line-height: 24px;
          font-family: "DINPro-Light";
          color: #fff;
          align-items: center;
          word-wrap: break-word;

          span {
            color: #76b900;
          }
        }

        a {
          text-decoration: none;
          font-weight: bold;
          text-transform: uppercase;
          font-size: 16px;
          line-height: 24px;
          font-family: "DINPro-Light";
          color: #76b900;
          align-items: center;
          word-wrap: break-word;
        }
      }
    }
  }

  .caracteristicas-2 {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    .card {
      .card-img-overlay {
        h1 {
          font-weight: bold;
          text-transform: uppercase;
          font-size: 48px;
          line-height: 1em;
          font-family: "GeForce-Bold";
          color: #fff;
          word-wrap: break-word;
          padding-top: 30px;
        }
        h2 {
          padding-top: 5px;
          font-weight: bold;
          text-transform: uppercase;
          font-size: 24px;
          line-height: 1em;
          font-family: "GeForce-Bold";
          color: #fff;
          align-items: center;
          word-wrap: break-word;
        }
        p {
          padding-top: 15px;
          padding-bottom: 20px;
          font-weight: normal;
          font-size: 16px;
          line-height: 24px;
          font-family: "DINPro-Light";
          color: #fff;
          align-items: center;
          word-wrap: break-word;
        }

        a {
          text-decoration: none;
          font-weight: bold;
          text-transform: uppercase;
          font-size: 16px;
          line-height: 24px;
          font-family: "DINPro-Light";
          color: #76b900;
          align-items: center;
          word-wrap: break-word;
        }

        button {
          font-weight: bold;
          text-transform: uppercase;
          font-family: "DINPro-Light";
          background-color: #76b900;
          border-color: #76b900;
          border-radius: 0;
          padding: 14px;
          font-size: 18px;

          &:hover {
            background-color: #86d103;
          }
        }
      }
    }
  }

  .caracteristicas-3 {
    background-color: #000;
    padding: 50px;
    h1 {
      font-weight: bold;
      text-transform: uppercase;
      font-size: 48px;
      line-height: 1em;
      font-family: "GeForce-Bold";
      color: #fff;
      word-wrap: break-word;
    }
    .table-responsive {
      padding: 40px;
      table {
        thead {
          tr {
            th {
              font-weight: bold;
              text-transform: uppercase;
              font-size: 16px;
              line-height: 1em;
              font-family: "GeForce-Bold";
              color: #76b900;
              text-align: center;
              word-wrap: break-word;
              box-sizing: border-box;
              padding-bottom: 15px;
            }
          }
        }
        tbody {
          tr {
            th {
              font-weight: normal;
              font-size: 14px;
              line-height: 1.25em;
              font-family: "DINPro-Light";
              color: #fff;
              word-wrap: break-word;
              box-sizing: border-box;
              padding: 30px 0px;
              min-width: 158px;
              text-align: left;
            }
            td {
              font-weight: normal;
              font-size: 14px;
              line-height: 1.25em;
              font-family: "DINPro-Light";
              color: #fff;
              text-align: center;
              word-wrap: break-word;
              box-sizing: border-box;
              //   padding: 30px 0px;
              vertical-align: middle;
              min-width: 158px;
            }
          }
        }
      }
    }

    button {
      font-weight: bold;
      text-transform: uppercase;
      font-family: "DINPro-Light";
      background-color: #76b900;
      border-color: #76b900;
      border-radius: 0;
      padding: 14px;
      font-size: 18px;

      &:hover {
        background-color: #86d103;
      }
    }
  }

  .caracteristicas-4 {
    background-color: #1a1a1a;
    .gaming {
      h1 {
        color: #fff;
        font-family: "GeForce-Bold";
        padding-bottom: 10px;
        text-transform: uppercase;
        font-size: 48px;
        line-height: 1em;
      }
      .card-group {
        .card {
          border: none;
          background-color: #000;
          a {
            text-decoration: none;
            .card-body {
              .card-title {
                font-weight: bold;
                color: #76b900;
                font-family: "GeForce-Bold";
                font-size: 24px;
                line-height: 1em;
                text-transform: uppercase;
              }
              .card-text {
                font-size: 16px;
                color: #fff;
                padding: 10px 0;
                line-height: 24px;
                font-family: "DINPro-Light";
              }
            }

            .card-footer{
                font-weight: 700;
                color: #76b900;
                font-family: "DINPro-Light";
                text-transform: uppercase;
                display: flex;
                align-items: flex-end;
            }
          }
        }
      }
    }
  }
}

footer {
  background-color: #000;

  .footer-arriba {
    .infCorporativa {
      width: 33%;
      padding-right: 20px;
      padding-top: 50px;
      h2 {
        color: #eee;
        padding-bottom: 12px;
        font-size: 24px;
        line-height: 26px;
        font-weight: bold;
        font-family: "DINPro-Light";
        text-transform: none;
        border-bottom: 1px solid #747474;
      }

      .page-footer {
        li {
          list-style: none;
          a {
            text-decoration: none;
            font-size: 16px;
            line-height: 30px;
            color: #76b900;
            font-family: "DINPro-Light";
            font-weight: normal;
            margin-left: -30px;
          }
        }
      }
    }
  }

  .footer-abajo {
    padding-top: 30px;
    padding-bottom: 50px;
    .footerIzquierda {
      .izquierdaf {
        padding-right: 20px;
        i {
          color: #76b900;
        }
        span {
          font-size: 24px;
          line-height: 1;
          color: white;
          font-family: "DINPro-Light";
        }
        button {
          font-weight: bold;
          text-transform: uppercase;
          font-family: "DINPro-Light";
          background-color: #76b900;
          border-color: #76b900;
          border-radius: 0;
          padding: 14px;
          font-size: 18px;
          line-height: 1;

          &:hover {
            background-color: #86d103;
          }
        }
      }
    }
    .footerDerecha {
      .derechaf {
        padding-left: 20px;
        h6 {
          font-size: 16px;
          color: #747474;
          font-size: "DINPro-Light";
        }
      }
    }
  }
}
